---
---


body {
  background-color: rgb(13, 17, 23);
  color:rgb(201, 209, 217);
}

p.center {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color:rgb(240, 246, 252);
}

h2.center {
  text-align: center;
}

a {
  color:rgb(240, 123, 114);
  text-decoration:none;
}

a:hover, a:focus {
  color:rgb(192, 91, 84);
  font-weight: normal;
}

a.body {
  color:rgb(201, 209, 217);
  text-decoration:none;
}

a.body:hover, a.body:focus {
  color:rgb(201, 209, 217);
  font-weight: normal;
}

a.header {
  color:rgb(240, 246, 252);
  font-weight: bold;
}

a.header:hover, a.header:focus {
  color:rgb(240, 246, 252);
  font-weight: bold;
}

img {
  max-width:100%;
  border-radius:5px;
}

ul.downloads {
  list-style:none;
  height:27px;
  padding:0;
  background: rgb(33, 38, 45);
  border-radius:5px;
  border:1px solid rgb(48, 54, 61);
  width:270px;
}

.downloads li {
  width:89px;
  float:left;
  border-right:1px solid rgb(48, 54, 61);
  height:27px;
}


.downloads li:first-child a {
  border-radius:5px 0 0 5px;
}

.downloads li:last-child a {
  border-radius:0 5px 5px 0;
}

.downloads a {
  line-height:1;
  font-size:11px;
  color:#ad0909;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

.downloads a:hover, .downloads a:focus {
  color:#13b845;
  font-weight:bold;
}

.downloads ul a:active {
  background-color:#2023e0;
}

.downloads li + li + li {
  border-right:none;
  width:89px;
}

.downloads a strong {
  font-size:14px;
  display:block;
  color:rgb(201, 209, 217);
}

strong {
  color:rgb(240, 246, 252);
  font-weight:700;
}


@import "{{ site.theme }}";