<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>Jovian Wang</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?">
    <link rel="stylesheet" href="assets/css/style.css">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Jovian Wang</h1>

        <p>wg.jovian@gmail.com | U.S. Citizen</p>

        {% if site.github.is_user_page %}
        <!--<p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>-->
        {% endif %}

        <ul class="socials">
          <li><a href="mailto: wg.jovian@gmail.com"><strong>Email</strong></a></li>
          <li><a href="https://github.com/jovianw"><strong>Github</strong></a></li>
          <li><a href="https://www.linkedin.com/in/jovian-wang-27982a1b8/"><strong>LinkedIn</strong></a></li>
        </ul>
      </header>

      <h3>Hello! I'm Jovian Wang.</h3>

      <p>I'm an undergraduate student at <strong>Vanderbilt University</strong>, majoring in <strong>Computer Science and Mathematics</strong>. I love developing silly bots and applications, playing tennis, rock climbing, and robotics.</p>

      <p>I'm currently looking for research and intership opportunities involving computer science, robotics, and machine learning.</p>

      <p>If you're looking for my resume, you can find it <a href="assets/JovianWang_Resume.pdf" target="_blank" rel="noopener noreferrer">here</a>. If you'd like to get in touch, don't hesitate to email me at <a href = "mailto: wg.jovian@gmail.com">wg.jovian@gmail.com</a>.</p>

      <footer>
        <p><small>Made with GitHub Pages &mdash; version 1.1.6</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>